
#page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}
p.description {
    white-space: pre-wrap;
}
table {
    margin: 10px 0;
    tr {
        td, th {
            padding: 5px;
            border: 1px solid #999;
        }
    }
}
